!jest.config.js
**/coverage/**
*.archive
*.bak*
*.d.ts
*.env
*.js
*.old
*.original
*.template
.cdk.staging
.idea
.vscode
cdk.out
cdk.yaml
configs.ts
parameters.ts
properties.ts
tags.ts
logs
node_modules
.DS_Store

